$logoTitleColor: #E9E9E9;
$logoTitleHoverColor: #c24646;
$socialIconColor: #E9E9E9;
$socialIconHoverColor: #c24646;
/* ------------------------------------- */
/* ------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Ubuntu', sans-serif;
  line-height: 105%;
}

body {
  background-color: #5B7B89;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

/* ------------------------------------- */
/* ------------------------------------- */
.cover {
  position: relative;
  height: 30.625rem;
  display: flex;
  justify-content: center;
  max-width: 100%;
  overflow: hidden;
  background: url("../images/cover.jpg") center;
  background-size: cover;

  &__img {

  }
  &__inner {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.375rem;
  }
}

.logo {
  &__title {}
  &__title-link-text {
    color: $logoTitleColor;
    font-size: 4rem;
    font-weight: 400;
    transition: all 0.2s ease-out;
  }
  &__title-link-text:hover {
    color: $logoTitleHoverColor;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  }
  &__description-text {
    color: #999999;
    font-size: 1.25rem;
  }
}

.header-media {
  display: flex;
  gap: 1rem;
  &__link {}
}

.media {
  &__link-icon {
    transition: all 0.2s ease-in-out;
  }
  &:has(a[id="instagramLink"]:hover) #instagramIcon {
    fill: $socialIconHoverColor;
  }
  &:has(a[id="telegramLink"]:hover) #telegramIcon {
    fill: $socialIconHoverColor;
  }
  &:has(a[id="facebookLink"]:hover) #facebookIcon {
    fill: $socialIconHoverColor;
  }
  &:has(a[id="gmailLink"]:hover) #gmailIconPart1 {
    fill: $socialIconHoverColor;
  }
  &:has(a[id="gmailLink"]:hover) #gmailIconPart2 {
    fill: $socialIconHoverColor;
  }
  &:has(a[id="githubLink"]:hover) #githubIcon {
    fill: $socialIconHoverColor;
  }
}
/* ------------------------------------- */
/* ------------------------------------- */
.burger {
  display: none;
  &__name {
    visibility: hidden;
  }
}
/* ------------------------------------- */
.menu-wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
.menu {
  background-color: #172225;
  &__inner {
    display: flex;
    width: 100%;
    height: calc(2.5rem + 1rem);
    padding: 1.25rem 2.5rem;
    transition: all .2s ease-in-out;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__item-separator {
    color: #A2A7A8;
    font-weight: 700;
  }

  &__link {
    color: #A2A7A8;
    font-weight: 700;
    transition: color .2s ease-in-out;
  }

  &__link:hover {
    color: #FFF;
    text-shadow: 1px 1px 4px rgb(0, 0, 0);
  }
}
.search {
  display: none;
}
/* ------------------------------------- */
/* ------------------------------------- */
.main {
  max-width: 1440px;
  padding: 4.5rem 2rem;
}
.articles-catalog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  &__item {}
}

.article-preview {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  border-radius: 0.625rem;
  overflow: hidden;
  &__title {
    padding: 2rem 2.5rem;
  }
  &__title-text {
    color: #1E2C30;
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 105%;
  }
  &__title-link {
    transition: all .2s ease-in-out;
  }
  &__title-link:hover {
    color: #BA2F1D;
  }
  &__description {}
  &__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  &__img {
    width: 100%;
    height: max(100px, auto, 100%);
    transform: scale(1.05);
    transition: all .2s ease-in-out;
    }
  &__img:hover {
    transform: scale(1);
  }
  &__text-wrapper {
    padding: 2rem 2.5rem;
  }
  &__text {
    color: #666666;
    font-size: 1rem;
    line-height: 150%;
  }
  &__timestamp {
    width: 100%;
  }
  &__timestamp-inner {
    background-color: #EFF2F3;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding: 1rem 2.5rem;
  }
  &__date-text {
    color: #BA2F1D;
    font-size: 0.75rem;
    font-weight: 700;
  }
}

/* ------------------------------------- */
/* ------------------------------------- */
.footer {
  background-color: #172225;
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem 2.5rem;
  }
  &__item {}
  &__year {
    color: #A2A7A8;
    font-size: 1.375rem;
    font-weight: 700;
  }
}

@media (max-width: 1200px) {
  .main {
    padding: 3.5rem 2rem;
  }
  .articles-catalog {
    grid-gap: 1rem;
  }
}

@media (max-width: 1024px) {
  .burger {
    display: block;
    &__name {
      visibility: visible;
    }
  }
  .articles-catalog {
    grid-template-columns: repeat(2, 1fr);
  }
  .nav__list {
    visibility: hidden;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .main {
    padding: 2.5rem 2rem;
  }
  .articles-catalog {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 640px) {
  .main {
    padding: 2.5rem 2rem;
  }
  .articles-catalog {
    grid-gap: 1rem;
  }
}

@media (max-width: 480px) {
  .main {
    padding: 1rem 0.5rem;
  }
  .articles-catalog {
    grid-gap: 1rem;
  }
  .article-preview__title {
    padding: 1rem 1.5rem;
  }
  .article-preview__title-text {
    font-size: 1.3rem;
  }
  .article-preview__text-wrapper {
    padding: 1rem 1.5rem;
  }
  .article-preview__timestamp-inner {
    padding: 1rem 1.5rem;
  }
}

@media (max-width: 400px) {
  .logo__title-link-text {font-size: 3rem}
  .main {
    padding: 1rem 0.5rem;
  }
  .articles-catalog {
    grid-gap: 1rem;
  }
}

@media (max-width: 240px) {
  .logo__title-link-text {font-size: 1.75rem}
  .article-preview__title {padding: 0.5rem 0.75rem;}
  .article-preview__title-text {font-size: 1rem}
  .article-preview__text-wrapper {padding: 0.5rem 0.75rem;}
  .article-preview__text {font-size: 0.75rem}
  .article-preview__timestamp-inner {padding: 0.5rem 0.75rem;}
  .article-preview__date-text {font-size: 0.5rem}
  .main {
    padding: 1rem 0.5rem;
  }
  .articles-catalog {
    grid-gap: 1rem;
  }
  .footer__inner {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
}
