/* ------------------------------------- */
/* ------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Ubuntu", sans-serif;
  line-height: 105%;
}

body {
  background-color: #5B7B89;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

/* ------------------------------------- */
/* ------------------------------------- */
.cover {
  position: relative;
  max-height: 30.625rem;
  display: flex;
  justify-content: center;
  max-width: 100%;
  overflow: hidden;
}
.cover__inner {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.375rem;
}

.logo__title-link-text {
  color: #E9E9E9;
  font-size: 4rem;
  font-weight: 400;
  transition: all 0.2s ease-out;
}
.logo__title-link-text:hover {
  color: #FF5C00;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}
.logo__description-text {
  color: #999999;
  font-size: 1.25rem;
}

.header-media {
  display: flex;
  gap: 1rem;
}
.media__link-icon {
  transition: all 0.2s ease-in-out;
}
.media:has(a[id=instagramLink]:hover) #instagramIcon {
  fill: #FF5C00;
}
.media:has(a[id=telegramLink]:hover) #telegramIcon {
  fill: #FF5C00;
}
.media:has(a[id=facebookLink]:hover) #facebookIcon {
  fill: #FF5C00;
}
.media:has(a[id=gmailLink]:hover) #gmailIconPart1 {
  fill: #FF5C00;
}
.media:has(a[id=gmailLink]:hover) #gmailIconPart2 {
  fill: #FF5C00;
}
.media:has(a[id=githubLink]:hover) #githubIcon {
  fill: #FF5C00;
}

/* ------------------------------------- */
/* ------------------------------------- */
.menu-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.menu {
  background-color: #172225;
}
.menu__inner {
  width: 100%;
  padding: 1.25rem 2.5rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.nav__item-separator {
  color: #A2A7A8;
  font-weight: 700;
}
.nav__link {
  color: #A2A7A8;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}
.nav__link:hover {
  color: #FFF;
  text-shadow: 1px 1px 4px rgb(0, 0, 0);
}

.search {
  display: none;
}

/* ------------------------------------- */
/* ------------------------------------- */
.main {
  max-width: 1440px;
  padding: 4.5rem 2rem;
}

.articles-catalog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.articles-catalog__item {
  border: 1px solid black;
  border-radius: 0.625rem;
  overflow: hidden;
}

.article-preview {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
}
.article-preview__title {
  padding: 2rem 2.5rem;
}
.article-preview__title-text {
  color: #1E2C30;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 105%;
}
.article-preview__title-link {
  transition: all 0.2s ease-in-out;
}
.article-preview__title-link:hover {
  color: #BA2F1D;
}
.article-preview__image-wrapper {
  width: 100%;
  height: auto;
}
.article-preview__img {
  width: 100%;
  height: max(100px, auto, 100%);
}
.article-preview__text-wrapper {
  padding: 2rem 2.5rem;
}
.article-preview__text {
  color: #666666;
  font-size: 1rem;
  line-height: 150%;
}
.article-preview__timestamp {
  width: 100%;
}
.article-preview__timestamp-inner {
  background-color: #EFF2F3;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 1rem 2.5rem;
}
.article-preview__date-text {
  color: #BA2F1D;
  font-size: 0.75rem;
  font-weight: 700;
}

/* ------------------------------------- */
/* ------------------------------------- */
.footer {
  background-color: #172225;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 2.5rem;
}
.footer__year {
  color: #A2A7A8;
  font-size: 1.375rem;
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
